<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    {{>links}}
</head>

<body>
    {{>Nav}}
    <div class="error_homediv">
        <div class="container  ">
            <div class=" error-div">

                <figure>
                    <img src="images/errorimg.svg" height="100%" width="100%" alt="">
                </figure>

                <h6>Oops ! Page Not Found</h6>
                <button><a href="/">Home</a></button>
            </div>

        </div>
    </div>
    </div>
    {{>footer}}
</body>

</html>